	:root {
		--base: #ffc600;
		--spacing: 10px;
		--blur: 10px;
	}

	body{	
		font-family: sans-serif;
		text-align: center;
		background: #f7ff2d;
		font-weight: 100;
		font-size: 30px;
	}

	.controls {
		position: relative;
		top: -5px;
	}

	.input {
		width: 100px;
	}

	img {
		position: relative;
		padding: var(--spacing);
		background: var(--base);
		filter: blur(var(--blur));
		top: 30px;
		width: 450px;
		height: 450px;
	}

	.h1 {
		color: var(--base);
	}